
application/.idea/caches/build_file_checksums.ser
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/swe2-project.iml
.idea/vcs.xml
.idea/workspace.xml
application/.idea/caches/build_file_checksums.ser
application/.idea/copyright/APP.xml
application/.idea/copyright/profiles_settings.xml
application/.idea/dictionaries/MIB.xml
application/.idea/misc.xml
application/.idea/vcs.xml
