<component name="CopyrightManager">
  <copyright>
    <option name="notice" value="Copyright (c) &amp;#36;today.year. Software Engineering Slayers&#10;&#10;Azel Daniel (816002285)&#10;Amanda Seenath (816002935)&#10;Christopher Joseph (814000605)&#10;Michael Bristol (816003612)&#10;Maya Bannis (816000144)&#10;&#10;COMP 3613&#10;Software Engineering II&#10;&#10;GPA Calculator Project" />
    <option name="myName" value="APP" />
  </copyright>
</component>