<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="swe2slayers.gpacalculationapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".CourseDetail" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".Semester_Activity"
            android:label="@string/title_activity_semester_" />
        <activity
            android:name=".views.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".views.ViewYear" />
        <activity android:name=".views.EditYear" />
        <activity android:name=".views.EditSemester" />
        <activity android:name=".views.EditUser" />
        <activity
            android:name=".views.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.EditCourse" />
        <activity android:name=".views.EditExam" />
        <activity android:name=".views.EditAssignment"></activity>
    </application>

</manifest>