These are the non functional requirements as at 08/10/2018

1.	The system shall be secure i.e. the system should protect student data.
2.	Resilient and Capacity i.e. the system should be able to handle increase of users without failures or overload. 
3.	The system shall focus on performance i.e. meet targeted processing and response time.
4.	The system shall have high availability i.e. the system should not have unexpected downtime.
5.	The system shall focus on Usability i.e. have an Interface that is intuitive. The system shall behave according to a user’s intuition.
6.	The system shall be maintainable i.e. clean and clear documentation, easy to comprehend code and a reusable code schema.
