These are the system requirements as at 08/10/2018

1.	The system shall allow users to securely log into the application.
2.	The system shall store GPA weighting information.
3.	The system shall allow users to enter their results to be calculated.
4.	The system shall store a user’s examination results data.
5.	The system shall store a user’s assignment results data.
6.	The system shall be able to allow users to add courses.
7.	The system shall be able to allow users to remove courses.
8.	The system shall work offline.
9.	The system shall be able to connect to a database.
10.	The system shall calculate cumulative GPA
11.	The system shall calculate Degree GPA
12.	The system shall automatically recalculate data when edits are made
13.	The system shall update data displayed according to course/grade edits
14.	The system shall calculate the minimum number of grades the user needs
15.	The system shall calculate the minimum amount of course and exam marks the user needs
16.	The system shall allow users to customize the behavior of the application’s notifications
