These are the user requirements as at 08/10/2018

1. Users shall be able to log into the application.
2. Users shall be able to define a new grading schema.
3. Users shall be able to add previous and current courses to be calculated.
4. Users shall be able to edit courses.
5. Users shall be able to delete courses.
6. Users shall be able to save weightings and due date information for assignments, exams and projects for each of their courses
7. Users shall be able to set a desired target grade for each of their courses. 
8. Users shall be able to view the minimum set of grades needed to achieve a passing grade or their pre-set target grade.
9. Users shall be able to get warnings when their predicted grades fall below passing or their target grade
10. Users shall be able to view their automatically calculated cumulative GPA
11.	Users shall be able to view their automatically calculated degree GPA
12.	Users shall be able to save grades attained on courses they have already completed.
13.	Users shall be able to save assessment scores on courses they are currently undergoing. 
14.	Users shall be able to set a desired target GPA.
